body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: violet;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background: black;
    color: black;
}

li a.active{
    background: goldenrod;
    color: black;
}

h1{
    margin-top: 50px;
}